body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2, h3, h4 {
    color: #333;
}
.result {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}
form input[type="text"], form input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form button {
    padding: 10px;
    margin: 5px 0px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
form button:hover {
    background: #555;
}
table {
    width: 10%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}